#MoneyGuarantee {

    padding: 0px 0 50px;


    .text {
        text-align: right;

        h3 {
            font-size: 32px;
            color: rgb(0, 0, 0);
            font-family: Cairo;
            font-weight: 400;
            font-style: normal;
            text-align: right;
            direction: rtl;
        }

        h4 {
            font-size: 21px;
            color: rgba(9, 39, 125, 1);
            font-family: Cairo;
            font-weight: 700;


        }

        p {
            font-size: 14px;
            color: rgb(0, 0, 0);
            font-weight: 500;
            font-style: normal;
        }

    }


    .img {
        position: relative;

        img {
            width: 350px;
        }


    }


    .instructorTwo {
        direction: ltr;
        margin-top: 100px;
    }


}